pip install Flask==3.0.3
pip install Flask-SQLAlchemy==3.1.1
pip install Flask-SocketIO==5.3.6
pip install numpy==1.26.4
pip install python-socketio==5.11.4
pip install torch==2.4.1
pip install transformers==4.44.2
pip install spacy==3.7.2